<a href="https://colab.research.google.com/github/adewalefranklin/District-of-Columbia-Crime-Incidence-Analysis-/blob/main/Analysis_of_the_2024_District_of_Columbia_Metropolitan_Police_Department_Crime_Incidents.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setting up a Database table from the dataset file

In [11]:
# Create database tables from CSV files

import pandas as pd

# Correct path to the CSV file
crime_2024 = pd.read_csv('/content/Crime_Incidents_in_2024.csv', encoding='unicode_escape')

In [58]:
%%sql
DROP TABLE IF EXISTS Dataset;

 * sqlite://
Done.

[]

In [59]:
# Example if using SQLite in Jupyter with SQLAlchemy
from sqlalchemy import create_engine


# Create an in-memory SQLite engine
engine = create_engine('sqlite:///:memory:')


# Persist the DataFrame into the database
crime_2024.to_sql('Dataset', engine, if_exists='replace', index=False)

20802

In [57]:
crime_2024.sample(10) # To view 10 random rows of the dataset

,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,WARD,...,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID,Month
19151,134913.9000,24420085,2024-01-12 14:22:05+00:00,DAY,OTHERS,THEFT/OTHER,1300 - 1399 BLOCK OF WATKINS ALLEY SE,401135.370000,134913.900000,6.0,...,6900.0,Precinct 91,38.882060,-76.986915,NaN,2023/12/31 20:00:00+00,2024/01/01 08:45:00+00,596631095,NaN,1
17482,137708.6300,24423051,2024-09-03 19:22:14+00:00,EVENING,OTHERS,THEFT/OTHER,1 - 99 BLOCK OF N STREET NW,399058.280000,137708.630000,5.0,...,4600.0,Precinct 19,38.907236,-77.010857,NaN,2024/08/17 18:00:00+00,2024/08/17 18:15:00+00,596615642,NaN,9
6731,134507.2847,24067443,2024-05-06 00:03:29+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1400 - 1499 BLOCK OF K STREET SE,401337.695807,134507.284666,6.0,...,7100.0,Precinct 91,38.878397,-76.984583,NaN,2024/05/05 19:11:00+00,2024/05/05 19:42:00+00,596433853,NaN,5
19660,141888.0400,24008947,2024-01-19 20:49:23+00:00,EVENING,OTHERS,THEFT/OTHER,4227 - 4399 BLOCK OF CONNECTICUT AVENUE NW,394459.180000,141888.040000,3.0,...,1303.0,Precinct 34,38.944869,-77.063916,NaN,2023/12/06 13:55:00+00,2023/12/06 14:00:00+00,596634907,NaN,1
2940,137824.6500,24138130,2024-09-08 01:21:21+00:00,EVENING,OTHERS,MOTOR VEHICLE THEFT,1300 - 1399 BLOCK OF EASTERN AVENUE NE,406154.780000,137824.650000,7.0,...,7806.0,Precinct 93,38.908260,-76.929038,NaN,2024/09/06 13:30:00+00,2024/09/07 16:00:00+00,596405726,NaN,9
13388,136161.8300,24091367,2024-06-16 03:40:55+00:00,MIDNIGHT,OTHERS,BURGLARY,1900 - 1999 BLOCK OF C STREET NE,402017.670000,136161.830000,7.0,...,7903.0,Precinct 80,38.893300,-76.976742,NaN,2024/06/16 01:55:00+00,NaN,596591062,NaN,6
13871,134906.7148,24067437,2024-05-06 01:58:31+00:00,EVENING,OTHERS,THEFT/OTHER,500 - 699 BLOCK OF 8TH STREET SE,400435.848862,134906.714779,6.0,...,7000.0,Precinct 90,38.881996,-76.994977,CAPITOL HILL,2024/05/05 19:04:00+00,2024/05/05 19:40:00+00,596595561,NaN,5
19226,137406.9600,24422073,2024-06-08 00:21:44+00:00,EVENING,OTHERS,THEFT/OTHER,1100 - 1199 BLOCK OF 14TH STREET NW,397228.790000,137406.960000,2.0,...,10100.0,Precinct 17,38.904515,-77.031949,DOWNTOWN,2024/06/01 03:30:00+00,2024/06/01 14:00:00+00,596631795,NaN,6
4055,138411.1900,24146635,2024-09-22 17:33:25+00:00,DAY,OTHERS,THEFT/OTHER,1705 - 1799 BLOCK OF 6TH STREET NW,398274.120000,138411.190000,2.0,...,4801.0,Precinct 21,38.913564,-77.019900,NaN,2024/09/22 17:12:00+00,NaN,596409475,NaN,9
14924,138573.6500,24054890,2024-04-12 22:21:30+00:00,EVENING,OTHERS,ROBBERY,1802 - 1899 BLOCK OF 11TH STREET NW,397655.330000,138573.650000,1.0,...,4402.0,Precinct 137,38.915026,-77.027036,NaN,2024/04/12 19:42:00+00,2024/04/12 22:23:00+00,596605000,NaN,4

In [60]:
crime_2024.shape ##To check the data structure ---- The dataset is made up of 20802 rows and 25 columns respectively.

(20802, 25)

In [31]:
crime_2024.columns #To view all the column names of the dataset

Index(['Y', 'CCN', 'REPORT_DAT', 'SHIFT', 'METHOD', 'OFFENSE', 'BLOCK',
       'XBLOCK', 'YBLOCK', 'WARD', 'ANC', 'DISTRICT', 'PSA',
       'NEIGHBORHOOD_CLUSTER', 'BLOCK_GROUP', 'CENSUS_TRACT',
       'VOTING_PRECINCT', 'LATITUDE', 'LONGITUDE', 'BID', 'START_DATE',
       'END_DATE', 'OBJECTID', 'OCTO_RECORD_ID'],
      dtype='object')

#EDA ANALYSIS

#What is the crime distribution by offense type?
#This query helps identify which crimes are most frequent, allowing authorities to needed training as well as deescalation traning to assigned officers. -->

In [18]:
query = """
SELECT OFFENSE, COUNT(*) as Crime_Count
FROM crime_2024
GROUP BY OFFENSE
ORDER BY Crime_Count DESC;
"""

# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

                      OFFENSE  Crime_Count
0                 THEFT/OTHER         9142
1                THEFT F/AUTO         4718
2         MOTOR VEHICLE THEFT         3611
3                     ROBBERY         1566
4  ASSAULT W/DANGEROUS WEAPON          792
5                    BURGLARY          712
6                    HOMICIDE          139
7                   SEX ABUSE          118
8                       ARSON            4

#To help allocate police forces more efficiently, I analyzed crime rates by shifts (Day, Evening, Midnight). How does the crime rate vary across different time shifts (Day, Evening, Midnight)?

In [29]:
query = """

SELECT SHIFT, COUNT(*) AS Crime_Count
FROM crime_2024
GROUP BY SHIFT
ORDER BY Crime_Count DESC;


"""
# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

      SHIFT  Crime_Count
0   EVENING         8278
1       DAY         8190
2  MIDNIGHT         4334

#Geographical Crime Hotspots
#This identifies areas (wards, districts, neighborhoods) with the highest crime rates, focusing police efforts in high-risk areas.

#BY WARDS

In [34]:
query = """
SELECT WARD, COUNT(*) AS Crime_Count
FROM crime_2024
WHERE WARD IS NOT NULL
GROUP BY WARD
ORDER BY Crime_Count DESC;
"""
# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

   WARD  Crime_Count
0   5.0         3562
1   2.0         3314
2   1.0         3028
3   7.0         2821
4   6.0         2673
5   8.0         2209
6   4.0         1970
7   3.0         1222

# BY NEIGHBORHOODS

In [36]:
query = """
SELECT NEIGHBORHOOD_CLUSTER, COUNT(*) AS Crime_Count
FROM crime_2024
WHERE NEIGHBORHOOD_CLUSTER IS NOT NULL
GROUP BY NEIGHBORHOOD_CLUSTER
ORDER BY Crime_Count DESC;
"""
# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

   NEIGHBORHOOD_CLUSTER  Crime_Count
0             Cluster 2         1489
1            Cluster 25         1311
2             Cluster 8         1135
3            Cluster 23         1115
4             Cluster 3         1108
5            Cluster 18         1008
6            Cluster 21          935
7             Cluster 6          930
8            Cluster 26          833
9            Cluster 39          754
10           Cluster 22          733
11            Cluster 7          716
12           Cluster 17          650
13           Cluster 34          569
14            Cluster 1          516
15           Cluster 31          515
16           Cluster 33          495
17           Cluster 32          485
18            Cluster 4          442
19           Cluster 27          433
20            Cluster 9          388
21           Cluster 15          363
22           Cluster 24          352
23           Cluster 30          325
24           Cluster 35          316
25           Cluster 19          307
26           Cluster 38          292
27            Cluster 5          278
28           Cluster 20          263
29           Cluster 14          249
30           Cluster 11          216
31           Cluster 36          206
32           Cluster 37          201
33           Cluster 12          193
34           Cluster 28          186
35           Cluster 10          148
36           Cluster 16          107
37           Cluster 13           91
38           Cluster 43           42
39           Cluster 29           35
40           Cluster 45           27
41           Cluster 40           18
42           Cluster 44           16
43           Cluster 46            5
44           Cluster 41            3

#BY DISTRICTS

In [40]:
query = """
SELECT district, COUNT(*) as Crime_Count
FROM crime_2024
WHERE district IS NOT NULL
GROUP BY district
ORDER BY Crime_Count DESC;
"""

# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

   DISTRICT  Crime_Count
0       3.0         3742
1       2.0         3511
2       5.0         3425
3       1.0         2771
4       6.0         2727
5       4.0         2634
6       7.0         1635

#Most Common Crime Methods
#This analysis helps law enforcement understand the methods used for various crimes (e.g., gun-related crimes).

In [42]:
query = """
SELECT METHOD, COUNT(*) AS Method_Count
FROM crime_2024
GROUP BY METHOD
ORDER BY Method_Count DESC;
 """
# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

   METHOD  Method_Count
0  OTHERS         18844
1     GUN          1650
2   KNIFE           308

#Crime Trends Over Time (Across various months up until September 2024)
#Tracking crime over time (daily, weekly, or monthly) reveals patterns, allowing for proactive measures during peak times.

In [67]:
crime_2024['REPORT_DAT'] = pd.to_datetime(crime_2024['REPORT_DAT'], errors='coerce')

# Drop rows with NaT in REPORT_DAT
crime_2024.dropna(subset=['REPORT_DAT'], inplace=True)

# Extract the month
crime_2024['Month'] = crime_2024['REPORT_DAT'].dt.month

# Count crimes by month
monthly_crimes = crime_2024.groupby('Month').size().reset_index(name='Crime_Count')

# Sort results by month
monthly_crimes = monthly_crimes.sort_values (by='Crime_Count', ascending=False)

# Display the results
print(monthly_crimes)

   Month  Crime_Count
7      8         2568
6      7         2537
4      5         2422
5      6         2404
0      1         2344
1      2         2194
8      9         2176
3      4         2113
2      3         2044

#Relationship Between Crime Type and Method
#This query helps understand how specific methods (e.g., guns) relate to certain crimes (e.g., robbery, assault). How likely is a method going to be used in a criminal incident. This helps the dispatch better prepared while responding to crime scenes.

In [55]:
query = """
SELECT OFFENSE, METHOD, COUNT(*) AS Method_Offense_Count
FROM crime_2024
GROUP BY OFFENSE, METHOD
ORDER BY METHOD, Method_Offense_Count DESC;

 """
# Execute the SQL query and fetch results
result = pd.read_sql_query(query, engine)
print(result)

                       OFFENSE  METHOD  Method_Offense_Count
0                      ROBBERY     GUN                   916
1   ASSAULT W/DANGEROUS WEAPON     GUN                   515
2                     HOMICIDE     GUN                   119
3                  THEFT/OTHER     GUN                    39
4                 THEFT F/AUTO     GUN                    23
5          MOTOR VEHICLE THEFT     GUN                    18
6                    SEX ABUSE     GUN                    13
7                     BURGLARY     GUN                     7
8   ASSAULT W/DANGEROUS WEAPON   KNIFE                   178
9                      ROBBERY   KNIFE                    64
10                 THEFT/OTHER   KNIFE                    47
11                    HOMICIDE   KNIFE                     7
12         MOTOR VEHICLE THEFT   KNIFE                     4
13                   SEX ABUSE   KNIFE                     4
14                    BURGLARY   KNIFE                     3
15                THEFT F/AUTO   KNIFE                     1
16                 THEFT/OTHER  OTHERS                  9056
17                THEFT F/AUTO  OTHERS                  4694
18         MOTOR VEHICLE THEFT  OTHERS                  3589
19                    BURGLARY  OTHERS                   702
20                     ROBBERY  OTHERS                   586
21                   SEX ABUSE  OTHERS                   101
22  ASSAULT W/DANGEROUS WEAPON  OTHERS                    99
23                    HOMICIDE  OTHERS                    13
24                       ARSON  OTHERS                     4